.card-list__container {
    padding-top: .5rem;
}

.card-list__title {
    font-weight: 700;
    line-height: 160%;
    margin-bottom: .5rem;
}

.card__container {
    background: #FFF;
    border-radius: 0.5rem;
    padding-block: 1rem;
    margin-bottom: 1rem;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .75rem;
    padding-inline: 1rem;
}

.card__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__profile img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.card__info h3 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 160%;
}

.card__info span {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--gray-50);
    font-size: 0.75rem;
    font-weight: 400;
}

.card__icon {
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
}

.card__icon--call {
    background-image: url('../img/camera.svg');
}

.card__icon--map {
    background-image: url('../img/map.svg');
}

.card__btn--chat {
    background-image: url('../img/chat-icon.svg');
    background-color: var(--gray-5);
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.card__content {
    border-top: 1px solid #46464619;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 160%;
    padding-inline: 1rem;
    padding-top: .5rem;
}

.card__chat {
    display: flex;
    gap: 1.13rem;
}

@media (min-width: 768px) {
    .card-list__title {
        font-size: 1.25rem;
    }

    .card-list__container ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 2rem;
        row-gap: 1rem;
    }

    .card__container {
        width: calc(50vw - 2rem);
    }

    .card__profile img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .card__info h3 {
        font-size: 1rem;
    }

    .card__info span {
        font-size: 0.875rem;
    }

    .card__content {
        font-size: 0.875rem;
    }
}

@media (min-width: 1098px) {
    .card-list__container ul {
        grid-template-columns: repeat(3, auto);
    }

    .card__container {
        width: calc(33.3vw - 2rem);
    }
}