.floating__menu {
    position: relative;
}

.floating__btn {
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.50);
    width: 3.5rem;
    height: 3.5rem;
}

.floating__btn:hover {
    background-color: var(--secondary-color);
}

.floating__btn--register {
    position: fixed;
    right: .5rem;
    bottom: 5rem;
    z-index: 3;
}

.floating__btn--register span {
    background-image: url('../img/floating-add-icon.svg');
}


.floating__btn span {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
}

.floating__btn:focus+ul {
    opacity: 1;
    transform: scale(1);
}

.floating__list {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 80vh 0 8.75rem 0;
    transition: .3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    z-index: 2;
}


.floating__list li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.floating__list li>span {
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: .75rem;
    background: #FFF;
    border-radius: 20px;
    padding: 0 .5rem;
    margin-right: .25rem;
}

.floating__btn--item {
    display: flex;
    position: relative;
}

.floating__btn--map span {
    background-image: url('../img/floating-map-icon.svg');
}

.floating__btn--call span {
    background-image: url('../img/floating-cam-icon.svg');
}

@media (min-width: 992px) {
    .floating__menu {
        display: none;
    }
}